button:focus {
  outline: 0;
}

.center-item {
  display: inline-flex;
  align-items: center;
}

.controls {
  grid-area: menu;
  border-right: 1px solid rgb(218, 218, 218);
}
.song-title {
  grid-area: main;
}
.share {
  grid-area: right;
}
.slidecontainer {
  grid-area: footer;
}

.backward {
  color: #4C4C4C;
  font-size: 25px;
  padding: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.forward {
  color: #4C4C4C;
  font-size: 25px;
  padding: 20px;
}

.play {
  font-size: 50px;
  color: #ce584b;
  padding: 20px;
}

.pause {
  font-size: 50px;
  color: #ce584b;
  padding: 20px;
}

.smartAudioContainer {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 20px;
  margin: 15px;
  width: auto;
  height: 150px;
  display: grid;
  grid-template-areas:
    "menu main main main main right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
}

.button-share {
  background: none;
  border: none;
  color: #ce584b;
  cursor: pointer;
  font-size: 1em;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ce584b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ce584b;
  cursor: pointer;
}
.currTime{
  width: 60px;
}
.endTime {
  width: 60px;
}

.share-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px;
}

.social-share {
  display: inline;
  margin-left: 30px;
}

.share-popup-text {
  min-width: 50px;
  max-width: 800px;
}

.share-logo {
  text-decoration: none;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
}

.fb-logo {
  color: #3b5998;
}

.twitter-logo {
  color: #53a8e7;
}

.linkedin-logo{
  color: #0077B5;
}

.email-logo{
  color: #5EE3C2;
}

.link-logo{
  color: #4C4C4C;
}

.playspeed{
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* End */
